.color-1 {
  color: darkmagenta;
}

/* RedGreenBlue */
/* 00 - ff */
.color-2 {
  color: #ff0000;
}

.color-3 {
  color: #ddd;
}

/* 0-255 */
.color-4 {
  color: rgb(255, 0, 180);
  /* opacity: 0.2; */
}

.color-5 {
  color: rgb(0, 180, 0, 1);
}

